<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá,  <%= @billing.name %></h1>
    <p>
      Este é um e-mail automático para lembrá-lo de que a mensalidade da English Globe vence hoje. Se você já efetuou o pagamento, por favor, desconsidere esta mensagem.</p>

    <p>Agradecemos pela sua atenção e desejamos um excelente dia!</p>

    <p>Atenciosamente,</p>
    <p><strong>English Globe</strong></p>
  </body>
</html>