<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .email-container {
      max-width: 600px;
      margin: auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    .header, .footer {
      text-align: center;
      margin-bottom: 20px;
    }
    .footer {
      font-size: 0.9em;
      color: #666;
    }
    .footer img {
      width: 130px;
    }
    .sign p {
      margin: 0;
      margin-block-start: 1em;
      margin-block-end: 1em;
    }
  </style>
</head>
<body>
  <div class="container email-container">
    <div class="header">
      <h1 class="display-4">Olá, <%= @recipient.name %>,</h1>
    </div>

    <p>
      Este é um e-mail automático para lembrá-lo(a) de que a sua mensalidade da English Globe referente ao mês de <%= t("date.month_names")[Time.zone.today.month] %>, vence hoje, <%= Date.today.strftime('%d/%m/%Y') %>.
    </p>

    <p>
      Caso o pagamento já tenha sido efetuado, por favor, desconsidere esta mensagem.
    </p>

    <p>Agradecemos pela sua atenção e desejamos um excelente dia!</p>
    <br>
    <div class='sign'>
      <p>Atenciosamente,</p>
      <p><strong>English Globe</strong></p>
      <p><i>Inglês para falar, interagir e entender o mundo</i></p>
    </div>

    <div class="footer">
      <img src="https://englishglobe.com.br/wp-content/themes/english/images/logo.png" alt="Logo English Globe">
    </div>
  </div>
</body>
</html>
