<div id="<%= dom_id classroom %>">
  <div class="col">
    <div class="card shadow-sm">
      <div class="card-header py-1">
        <h4 class="my-1 fw-normal fs-5"><%= classroom.name %></h4>
      </div>
      <div class="card-body">
        <p class="card-text"></p>
        <p><strong>Horário: </strong><%= classroom.time %></p>
        <p><strong>Horário: </strong><%= classroom.teacher.name%></p>

        <%# <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group"></div>
          <small class="card-text"><strong>Status:</strong> feito</small>
        </div> %>
      

