<div id="<%= dom_id classroom %>">
  <p>
    <strong>Name:</strong>
    <%= classroom.name %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= classroom.time %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <% classroom.teacher_id %>
    <%= classroom.teacher.name%>
    
  </p>

</div>
