<h1>Editing classroom</h1>
<%= render 'form', classroom: @classroom %>
<br />
<div>
  <%=
    link_to 'Show this classroom',
            @classroom,
            class: 'btn btn-outline-primary',
            style: 'width:200px'
  %>
  |
  <%=
    link_to 'Back to classrooms',
            classrooms_path,
            class: 'btn btn-outline-primary',
            style: 'width:200px'
  %>
</div>
