<div class="d-flex justify-content-between">
  <h1 class="text-primary">Classrooms</h1>
  <%= current_user.admin? ?  (link_to "New classroom", new_classroom_path, class:'btn btn-primary', style:"width:150px;height: 40px;") : nil %>
</div>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <%if current_user.teacher? %>
        <% current_classrooms = current_user.teacher.classrooms%>
        <% current_classrooms.each do |classroom| %>
          <%= render classroom %>
        <% end %>
      <% elsif current_user.default? %>
      <% else %>
        <% @classrooms.each do |classroom| %>
          <%= render classroom %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
