<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div id="classroom_6">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-header py-1">
              <h4 class="my-1 fw-normal fs-5">2mw</h4>
            </div>
            <div class="card-body">
              <p class="card-text"></p>
              <p><strong>Horário: </strong>2:00</p>
              <p><strong>Horário: </strong>Clara Coutinho</p>

              <a href="/classrooms/6">Show this classroom</a>
            </div>
          </div>
        </div>
      </div>

      <div id="classroom_7">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-header py-1">
              <h4 class="my-1 fw-normal fs-5">3mw</h4>
            </div>
            <div class="card-body">
              <p class="card-text"></p>
              <p><strong>Horário: </strong>3:00</p>
              <p><strong>Horário: </strong>Clara Coutinho</p>

              <a href="/classrooms/7">Show this classroom</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <a href="/classrooms/new">New classroom</a>
  </div>
</div>
