<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= student.date %>
  </p>

  <p>
    <strong>Report:</strong>
    <%= student.report %>
  </p>

</div>
