<h1 class="text-primary">Listagem de alunos</h1>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% if @students.any? %>
        <% @students.each do |student| %>
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-header py-1">
                <h4 class="my-1 fw-normal fs-5">
                  <strong><%= student.name %></strong>
                </h4>
              </div>
              <div class="card-body">
                <h5 class="text-secondary fs-5">
                  Teacher:
                  <%=
                    if student.classroom.nil?
                      'Não possui turma cadastrada'
                    else
                      student.classroom.teacher.name
                    end
                  %>
                </h5>
                <h5 class="text-secondary fs-5">
                  Turma:
                  <%=
                    if student.classroom.nil?
                      'Não possui turma cadastrada'
                    else
                      student.classroom.name
                    end
                  %>
                </h5>

                <%=
                  link_to 'Ver Atividades',
                          report_student_path(student),
                          class: 'btn btn-outline-primary',
                          style: 'width:200px'
                %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="text-center">
          <h3>Sem alunos para mostrar.</h3>
          <br />
          <p>
            Entre em contato conosco para completar o seu cadastro e visualizar
            os relatórios dos alunos.
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
