<h1>Mensalidades atrasadas Agosto de 2025</h1>
<ol>
  <% @email_map.each do |email, data| %>
    <li>
      Email: <%= email %>
      <% data[:students].each do |student| %>
        <p>
          ID: <%=  student[:id] %> - 
          Nome: <%= link_to student[:name], student_path(student[:id])  %> - 
          Responsável: <%= student[:responsible] %>
        </p>
      <% end %>
    </li>
  <% end %>
</ol>