<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>
  <p>
    <strong>CPF:</strong>
    <%= teacher.cpf %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= teacher.status %>
  </p>
</div>
