<h4>Olá, <%= @resource.email %>!</h4>
<p>Alguém solicitou um link para alterar a senha do sistema de relatórios da English Globe.</p>
<p>Clique no link abaixo para ser direcionado para a tela de criação de uma nova senha.</p>
<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Se não foi você que solicitou essa senha, por favor ignore esse email.</p>
<p>Atenciosamente,</p>
<img src="https://englishglobe.com.br/wp-content/themes/english/images/logo.png" class="pb-3" style="width:130px" alt="Logo English Globe">

