<p style="color: green"><%= notice %></p>

<%= render @activity %>

<div>
  <%= link_to "Edit this activity", edit_activity_path(@activity), class:'btn btn-outline-primary', style:"width:200px" %> |
  <%= link_to "Back to activities", activities_path, class:'btn btn-outline-primary', style:"width:200px" %>

  <% button_to "Destroy this activity", @activity, method: :delete, class:'btn btn-danger mt-4', style:"width:200px" %>
</div>
