<div class="d-flex justify-content-between">
  <h1 class="text-primary">Plans</h1>
  <%=
    link_to 'New plan',
            new_plan_path,
            class: 'btn btn-primary',
            style: 'width:150px;height: 40px;'
  %>
</div>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @plans.each do |plan| %>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-header py-1">
              <h4 class="my-1 fw-normal fs-5"><%= plan.name %></h4>
            </div>
            <div class="card-body">
              <p class="card-text"></p>
              <p>
                <strong>Valor:</strong> <%=
                  number_to_currency(
                    plan.price,
                    unit: 'R$ ',
                    separator: ',',
                    delimiter: '.',
                    precision: 2,
                  )
                %>
              </p>
              <%=
                link_to 'Show this plan', plan, class: 'btn btn-outline-primary'
              %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
