<h1>Lista de Presenças</h1>
<div class=''>
  <table class="fs-9 mb-0 border-top border-translucent table">
    <thead>
      <tr>
        <th style="width: 30%;">Nome</th>
        <th style="width: 20%;">Turma</th>
        <th style="width: 20%;">Professor(a)</th>
        <th style="width: 30%;">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @students.each do |student|%>
          <tr>
            <td><%= link_to student.name, attendance_path(student) %></td>
            <td><%= student.classroom.nil? ? 'Não possui turma cadastrada' : student.classroom.name %></td>
            <td><%= student.classroom.nil? ? 'Não possui turma cadastrada' : student.classroom.teacher.name %></td>
            <td><%= student.status %></td>
          </tr>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
